//1:待付款 2：已下单，3已配送， 4，已完成 5，已取消 6，申诉
function formatStatus(type){
    switch (type) {
        case 1:
            return '待付款';
        case 2:
            return '已下单';
        case 3:
            return '已配送';
        case 4:
            return '已完成';
        case 5:
            return '已取消';
        case 6:
            return '申诉';
    }
}
module.exports = {
    formatStatus: formatStatus
};
